/* Rami Al-Saadi's solution to Frontend Coding Challenge:
 Chat app CSS illustration - Stylesheet */
/* Declaring Vars  */
html:root {
  /* Break Points */
  --mobile-break: 375px;
  --desktop-break: 1440px;
  /* Text */
  --pale-violet: hsl(276, 100%, 81%);
  --mod-violet: hsl(276, 55%, 52%);
  --dd-violet: hsl(271, 15%, 43%);
  --gray-blue: hsl(206, 6%, 79%);
  --ddd-violet: hsl(271, 36%, 24%);
  --gray-violet: hsl(270, 7%, 64%);
  /* Linear Gradient Colors*/
  --magenta: hsl(293, 100%, 63%);
  --violet: hsl(264, 100%, 61%);
  /* Secondary */
  --white: hsl(0, 0%, 100%);
  --app-background: hsl(270, 20%, 96%);
  --submit-btn-bg: hsl(271, 36%, 24%);
  --r-btn-outline: hsl(289, 100%, 72%);
  --font-size: 16px;
}
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
Weights: 400, 500, 700 */

/* CSS Reset and initializations*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* Body */
html {
  font-size: var(--font-size);
}
body {
  line-height: 1;
  width: 100%;
  min-height: 100vh;
  font-family: "Rubik", "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  background-color: var(--white);
  overflow: hidden;
}
h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--ddd-violet);
  padding: 0.7rem;
}
p {
  padding: 1rem;
  color: var(--gray-violet);
  line-height: 1.7rem;
}

.name,
.status {
  color: var(--white);
  background-color: blueviolet;
}
.name {
  font-weight: 500;
  padding: 0.1rem;
}
.status {
  font-size: 0.6rem;
  font-weight: 100;
  padding: 0.1rem;
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
  border: 2px var(--white);
  width: 2rem;
  height: 2rem;
}
.avatar img {
  display: block;
  width: 100%;
  height: auto;
}
.grey-chat {
  background-color: rgba(201, 107, 255, 0.205);
  color: var(--mod-violet);
  line-height: 1;
  font-size: 0.63rem;
  padding: 0.4rem 0.6rem;
  width: fit-content;
  margin-right: auto;
  border-radius: 7px 7px 7px 2px;
  margin: 0.6rem;
}
.photos {
  margin-left: auto;
  width: fit-content;
  padding: 0.6rem;
}
.photos img {
  display: inline-block;
  width: 3rem;
  border-radius: 12px;
  margin: 0.24rem;
}
.whiteChat {
  background-color: var(--white);
  color: var(--dd-violet);
  line-height: 1;
  font-size: 0.63rem;
  padding: 0.4rem 0.6rem;
  width: fit-content;
  margin: 0.6rem;
  margin-left: auto;
  border-radius: 7px 7px 2px 7px;
  box-shadow: 0px 3px 7px var(--gray-blue);
}

/* Attribution Styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
