/* Rami Al-Saadi's solution to Frontend Coding Challenge:
 Chat app CSS illustration - Stylesheet */
/* Declaring Vars  */
html:root {
  /* Break Points */
  --mobile-break: 375px;
  --desktop-break: 1440px;
  /* Text */
  --pale-violet: hsl(276, 100%, 81%);
  --mod-violet: hsl(276, 55%, 52%);
  --dd-violet: hsl(271, 15%, 43%);
  --gray-blue: hsl(206, 6%, 79%);
  --ddd-violet: hsl(271, 36%, 24%);
  --gray-violet: hsl(270, 7%, 64%);
  /* Linear Gradient Colors*/
  --magenta: hsl(293, 100%, 63%);
  --violet: hsl(264, 100%, 61%);
  /* Secondary */
  --white: hsl(0, 0%, 100%);
  --app-background: hsl(270, 20%, 96%);
  --submit-btn-bg: hsl(271, 36%, 24%);
  --r-btn-outline: hsl(289, 100%, 72%);
  --font-size: 16px;
}
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
Weights: 400, 500, 700 */

/* CSS Reset and initializations*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* Body */
html {
  font-size: var(--font-size);
}
body {
  line-height: 1;
  width: 100%;
  min-height: 50vh;
  font-family: "Rubik", "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  background-color: hsla(270, 20%, 96%, 0.548);
  overflow-x: hidden;
}
/* .bg-shape-violet {
  position: absolute;
  height: 132vh;
  width: 200vw;
  background: linear-gradient(to top, var(--violet), var(--magenta));
  left: 0%;
  top: 0%;
  transform: translateX(-75%) translateY(-48%);
  border-radius: 31%;
} */
.bg-shape-violet {
  position: absolute;
  background: linear-gradient(to top, var(--violet) 28%, var(--magenta));
  left: -150vw;
  top: -20vh;
  bottom: 31vh;
  right: 50vw;
  border-radius: 0% 0 38% 0%;
}

.bg-shape-grey {
  position: fixed;
  background: var(--app-background);
  left: 50vw;
  top: 60vh;
  bottom: -50vh;
  right: -130vw;
  border-radius: 36% 0 0 0;
}
.bg-shapes {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  min-height: 100vh;
  z-index: -9;
  overflow: hidden;
}
.main-container {
  margin: auto;
}
h1 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--ddd-violet);
  padding: 0.7rem;
  margin: 4.7rem auto 0 auto;
  text-align: center;
}
.paragraph p {
  text-align: center;
  padding: 1rem;
  color: var(--gray-violet);
  line-height: 1.8;
  margin: 0.4rem auto 3.8rem auto;
  font-size: 1.2rem;
  max-width: 24rem;
  width: 90%;
}

.screen {
  width: 17.6rem;
  background-color: var(--app-background);
  border-radius: 34px;
  border: 12px solid var(--white);
  overflow: hidden;
  position: relative;
  box-shadow: 0.4rem 2rem 2.5rem hsla(207, 7%, 74%, 0.693);
  margin: 5.1rem auto 0 auto;
}
.screen-top {
  position: absolute;
  margin: auto;
  width: 55%;
  height: 40px;
  background: var(--white);
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
}
.phoneHeader {
  overflow: hidden;
  background: linear-gradient(to right, var(--violet), var(--magenta));
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 34px 16px 15px 17px;
  border-radius: 17px 17px 0px 0px;
  margin-bottom: 0.9rem;
  gap: 8px;
}
.less-than {
  color: var(--white);
  font-weight: 700;
  transform: scaleY(1.4) scaleX(0.66) scale(0.9);
}
.three-dots {
  margin-left: auto;
}
.circle {
  height: 2px;
  width: 2px;
  background-color: white;
  border-radius: 50%;
  margin: 1px;
}
.name {
  color: var(--white);
  font-weight: 500;
  padding: 0.1rem;
  justify-self: flex-start;
  font-size: 0.8rem;
}
.status {
  font-size: 0.6rem;
  font-weight: 100;
  padding: 0.1rem;
  color: var(--pale-violet);
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
  border: 2px var(--white);
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid var(--white);
}
.avatar img {
  display: block;
  width: 100%;
  height: auto;
}
.grey-chat {
  background-color: rgba(201, 107, 255, 0.205);
  color: var(--mod-violet);
  line-height: 1.3;
  font-size: 0.63rem;
  padding: 0.5rem 0.6rem;
  border-radius: 10px 10px 10px 4px;
  margin: 0.6rem;
  margin-right: auto;
  width: 8.7rem;
}
.photos {
  margin-left: auto;
  width: fit-content;
  padding: 0.3rem 0.5rem 0rem 0.5rem;
  margin-top: 0.7rem;
}
.photos img {
  display: inline-block;
  width: 3rem;
  border-radius: 12px;
  margin: 0.24rem;
  margin-left: 0.4rem;
}
.whiteChat {
  background-color: var(--white);
  color: var(--dd-violet);
  line-height: 1.3;
  font-size: 0.63rem;
  padding: 0.5rem 0.6rem;
  width: fit-content;
  margin: 0.6rem;
  margin-top: 0.2rem;
  margin-left: auto;
  border-radius: 10px 10px 4px 10px;
  box-shadow: 0px 3px 7px var(--gray-blue);
  max-width: 8.7rem;
}
.whiteChat:nth-of-type(4) {
  margin-bottom: 1.26rem;
}

hr {
  padding: 1px;
  margin: 0%;
  background-color: var(--white);
  opacity: 0.25;
  border: 0px;
  border-radius: 50%;
}

input[type="text"] {
  background-color: var(--white);
  display: block;
  padding: 1rem 1.4rem 0.8rem;
  line-height: 1.3;
  font-size: 0.63rem;
  height: 0.6rem;
  border-radius: 40px;
  border: none;
  margin: auto;
  margin-top: 0.5rem;
  color: var(--dd-violet);
  width: 13.6rem;
  border-top: 1px solid rgb(255, 255, 255);
}
.input {
  position: relative;
  display: inline-block;
  box-shadow: -2px -2px -4px var(--white);
  margin-bottom: 12px;
  width: 100%;
}
input[type="text"]::placeholder {
  color: var(--gray-violet);
  font-size: 0.63rem;
  line-height: 1.3;
}
button {
  border-radius: 50%;
  background-color: var(--ddd-violet);
  color: var(--white);
  border: none;
  height: 60%;
  width: 1.7rem;
  aspect-ratio: 1;
  overflow: hidden;
  text-align: center;
  padding: 2px 4px 6px 7px;
  position: absolute;
  right: 10%;
  top: 58%;
  transform: translateX(50%) translateY(-50%);
}
.greater-symbol {
  font-size: 1rem;
  font-weight: 700;
  transform: scaleY(1.5) scaleX(0.77);
  text-align: center;
  overflow: hidden;
  text-rendering: geometricPrecision;
  opacity: 0.98;
}
button:hover .greater-symbol {
  opacity: 0.8;
  cursor: pointer;
}
.option {
  background-color: blueviolet;
  border-radius: 20px;
  margin: 0.6rem auto 0.6rem 0.6rem;
  width: max-content;
  border-radius: 10px 10px 10px 4px;
  font-size: 0.63rem;
  color: var(--white);
  padding: 9px 15px 7px 6px;
  line-height: 1.4;
  background-image: linear-gradient(to right, var(--magenta), var(--violet));
  gap: 8px;
  min-width: 10.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option > label {
  margin-right: auto;
}
.option > input[type="radio"] {
  opacity: 0.2;
  filter: hue-rotate(50deg) contrast(20%) brightness(1.5);
  fill-opacity: var(--magenta);
  position: relative;
}
.option > p {
  font-size: 0.868rem;
  font-weight: 700;
  color: var(--white);
}
/* Attribution Styling */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
footer {
  margin: 0%;
  padding: 0%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
